pre, code {
	background-color: #000000;
	border: 1px solid #ffffff;
	font: monospace;
	overflow: scroll;
}

blockquote {
	border-left: 3px solid white;
	padding-left: 6px;
}

code, pre {
	background-color: #262320;
	padding: 0px 2px;
	border: 1px solid #ffffff;
	font: monospace;
	overflow: scroll;
}

body {
	color: white;
	background-color: #13151A;
	margin: 20px;
	font-family: sans-serif;
}

a {
	color: #5F876D;
}

#content {
	max-width: 700px;
	padding: 2px 40px;
	margin: auto;
	height: 100%;
	background-color: #1F222A;
	border: 1px solid #ffffff;
}

#main {
	padding: 30px 40px;
}

.edges {
	padding: 10px;
}

.big-ruler {
	border-top: 1px solid white;
	border-bottom: 0;
}
.small-ruler {
	border-top: 1px solid white;
	border-bottom: 0;
	margin: 0px 20px;
}

.post-info {
	list-style: none;
	padding: 0px;
}

.post-meta {
	list-style: none;
	padding-left: 10px;
	font-size: 12px;
}
